.coinPage {
  display: flex;
  margin-left: 50px;
}

.info-significant {
  display: block-inline;
  margin-top: -20px;
  margin-bottom: 450px;
}
.rank{
  margin-top: 50px;
  padding-left: 5px;
  width: 75px;
  color: white;
  weight: bolder;
  font-size: 16px;
  border-radius: 5px;
  background-color: black;
}

.name {
  display: flex; 
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
}

.name h1 {
  padding-top: 10px;
  margin-left: 10px;
}

.price-datas {
  display: flex ;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price-datas h1{
  font-size: 35px;
}
.price-datas h2 {
  font-size: 14px;
  margin-left: 10px;
}

.coin-dailyRange {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.data-table {
  margin-bottom: 450px;
  margin-left: 120px;
  margin-top: 120px;
}
.row {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 400px;
}

.coin-chart {
  display: inline-block;
  text-align: left;
  margin-left: -1300px;
  margin-top: 330px;
  height: 400px;
  padding-bottom: 50px;
}